.unit-top {

  font-size: 1rem;
}

.unit-crumbsBox {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 0 0.5rem;
}

/* 分别线 */
.unit-line {
  width: 100%;
  position: relative;
  height: 0.6rem;
}

.unit-leftj {
  border-radius: 50px;
  background: #1C3884;
  position: absolute;
  left: 2px;
  height: 0.6rem;
  width: 0.6rem;
  top: 0;
}

.unit-xuanzj {
  position: absolute;
  width: calc(100% - 1.2rem);
  top: 0.3rem;
  left: 0.6rem;
  height: 1px;
  background: #1C3884;
}

.unit-rightj {
  border-radius: 50px;
  background: #1C3884;
  position: absolute;
  right: 2px;
  height: 0.6rem;
  width: 0.6rem;
  top: 0;
}

/* 面包屑的每一项 */
.unit-crumbsItem {
  width: auto;
  display: inline-block;
  padding-right: 1rem;
  color: #c7dff8;
  background: url(../../../static/image/ren/jiantou.png) no-repeat right center;
}

/* 图标区域 */
.unit-echartsBox {
  width: 100%;
  height: 624.2px;
  padding: 5px 0.3rem 0.3rem;

}

/* 左边的区域 */
.unit-echartsLeft {
  float: left;
  width: 23%;
  height: 100%;
  
  // 左一
  .unit-leftOne{
    width: 100%;
    height: 48%;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
  }
  // 左二
  .unit-leftTwo{
    width: 100%;
    height: 52%;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
  }
}

/* 中间的区域 */
.unit-echartsCenter {
  float: left;
  width: 50%;
  height: 100%;
 
  .unit-cneterOne{width: 100%;
	height: 48%;
	position: relative;
	padding: 0 .3rem;}
  .unit-centerTwo{
    width: 100%;
    height: 52%;
    position: relative;
    padding: 0 .3rem;
  }
}

/* 右边的区域 */
.unit-echartsRight {
  float: right;
  width: 27%;
  height: 100%;
  
  .unit-rightOne{
    width: 100%;
    height: 48%;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
  }
  .unit-rightTwo{
    width: 100%;
    height: 52%;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
  }
}

.unit-tableBox {
	width: 100%;
	margin: 0 auto;
	min-width: 900px;
	height: auto;
}